@model Coffee.Entities.Wallet
@{
    ViewBag.Title = "Add wallet";
}
<form asp-action="CreateWallet" asp-controller="Wallet">
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>