@model Coffee.Entities.Ingredient
@{
    ViewBag.Title = "Add ingredient";
}
<a asp-action="AdminFirstPage" asp-controller="Home">move to main page</a>
<form asp-action="CreateIngredient" asp-controller="Ingredients">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label">Amount</label>
        <input type="number" asp-for="Amount" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>