@model IEnumerable<Coffee.Entities.Ingredient>
@{
    ViewBag.Title = "All ingredient";
}
<a asp-action="AdminFirstPage" asp-controller="Home">move to main page</a>
<a asp-action="CreateIngredient">Добавить ingredient</a>
<table class="table">
    <tr><td>Name</td><td>Amount</td>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Amount</td>
            <td><a href="~/Ingredients/EditIngredient?id=@item.Id">edit drink</a></td>
            <td><a href="~/Ingredients/DeleteDrink?id=@item.Id">delete drink</a></td>
        </tr>
    }
</table>