@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head><center>
    <title>Ordering</title></center>
</head>
<body>
    <div><center>
        <h3>Order confirmation form</h3>
        <p>Click next to confirm</p>
        <form method="post">
            <table>
                <td><a href="~/Home/BuyDrinkPost">Next</a></td>
            </table>
        </form>
    </center></div>
</body>
</html>