@model Coffee.Entities.User
<html>
<head>
    <title>Welkom</title>
</head>
    <table>
                <td><a href="~/Home/Menu">on the spot</a></td>
                <td><a href="~/Home/Menu">along</a></td>
    </table>
</html>