
<html>
<head>
    <title>Welkom</title>
</head>
    <table>
                <td><a href="~/Home/MenuFirstPage">Go to order</a></td>
    <td><a href="~/Wallet/CreateWallet">Create Wallet</a></td>
    <td><a href="~/Home/UserProfile?id=@ViewData["UserId"]">profile</a></td>
    </table>
</html>
