@model IEnumerable<CarPark.Models.CarItemModel>
@{
}
<table class="table">
    <tr><td>Имя</td><td>Возраст</td><td>Email</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Id</td><td>@item.Name</td><td>@item.OwnerEmail</td></tr>
    }
</table>