<form method="post">
    <div>
    <label>Type</label>
    <input name="Type" />
    </div>
    <div>
        <label>Company</label>
    <input name="Company" />
    </div>
    <div>
        <label>Model</label>
    <input name="Model" />
    </div>
    <div>
        <label>Id</label>
    <input name="Id" />
    </div>
    <div>
        <label>Year</label>
    <input name="Year" />
    </div>
    <button type="submit">Save</button>
</form>