@model ErrorViewModel
@{
    ViewData["Title"] = "Home Page";

    List<Car> cars = ViewBag.Car;
}

<div class="text-center">
    @foreach(var c in cars)
    {
        await Html.RenderPartialAsync("Car", c);
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
